.App {
  text-align: center;
}

.img {
  height: 40vmin;
  pointer-events: none;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 5px;
  /* border-radius: 5px;   neomorphims??
  box-shadow:
    #262626 0px 0px 2px 2px,
    #000000 4px 4px 8px,
    #4d4d4d -4px -4px 8px; */
}

.header {
  background-image: url('https://www.itl.cat/pngfile/big/13-132771_rainbow-wallpaper-hd-blurry-rainbow.png');
            background-repeat: repeat; 
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent;  
            font-size: 50px; 
            text-align: center; 
            font-weight: bold; 
            text-transform: uppercase;
}

.App-header {
  background-color:#262626;;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}