.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-image: url('https://www.itl.cat/pngfile/big/13-132771_rainbow-wallpaper-hd-blurry-rainbow.png');
            background-repeat: repeat; 
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent;  
            font-size: 50px; 
            text-align: center; 
            font-weight: bold; 
            text-transform: uppercase;
}

.App-header {
  background-color: #111214;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}